<!DOCTYPE html>
<html>

<head>
    <title>Shopkart</title>
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body style="font-family: 'Lato', sans-serif">
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900">
        <%- include('../partials/header.ejs') %>
        <main><%- body %></main>
        <!-- <%- include('../partials/footer.ejs') %> -->
    </div>
</body>

</html>