<head>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <style>
        body {
            font-family: 'IBM Plex Mono', sans-serif;
        }

        [x-cloak] {
            display: none;
        }

        .line {
            background: repeating-linear-gradient(to bottom,
                    #eee,
                    #eee 1px,
                    #fff 1px,
                    #fff 8%);
        }

        .tick {
            background: repeating-linear-gradient(to right,
                    #eee,
                    #eee 1px,
                    #fff 1px,
                    #fff 5%);
        }
    </style>
</head>

<body>
    <div class="flex flex-col flex-1">
        <main class="h-full overflow-hidden">
            <div class="container px-6 mx-auto grid">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                    Dashboard
                </h2>
                <!-- Cards -->
                <div class="grid gap-6 mb-4 md:grid-cols-2 xl:grid-cols-4">
                    <!-- Card -->
                    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                        <div
                            class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                                </path>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400 capitalize">
                                Total users
                            </p>
                            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                                1250
                            </p>
                        </div>
                    </div>
                    <!-- Card -->
                    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                        <div
                            class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400 capitalize">
                                Account balance
                            </p>
                            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                                $ 46,760.89
                            </p>
                        </div>
                    </div>
                    <!-- Card -->
                    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                        <div
                            class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z">
                                </path>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400 capitalize">
                                New sales
                            </p>
                            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                                376
                            </p>
                        </div>
                    </div>
                    <!-- Card -->
                    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                        <div
                            class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400 capitalize">
                                Pending order
                            </p>
                            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                                35
                            </p>
                        </div>
                    </div>
                </div>
                <section class="text-gray-600 body-font container -mx-12 -my-12 mt-2">
                    <div class="py-6 mx-auto flex flex-row space-x-2">
                        <div x-data="app()" x-cloak class="w-3/5">
                            <div class="max-w-lg mx-auto py-6">
                                <div class="shadow p-6 rounded-lg bg-white">
                                    <div class="md:flex md:justify-between md:items-center">
                                        <div>
                                            <h2 class="text-xl text-gray-800 font-bold leading-tight">Product Sales
                                            </h2>
                                            <p class="mb-2 text-gray-600 text-sm">Monthly Average</p>
                                        </div>
                                        <!-- Legends -->
                                        <div class="mb-4">
                                            <div class="flex items-center">
                                                <div class="w-2 h-2 bg-blue-600 mr-2 rounded-full"></div>
                                                <div class="text-sm text-gray-700">Sales</div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="line my-8 relative">
                                        <!-- Tooltip -->
                                        <template x-if="tooltipOpen == true">
                                            <div x-ref="tooltipContainer"
                                                class="p-0 m-0 z-10 shadow-lg rounded-lg absolute h-auto block"
                                                :style="`bottom: ${tooltipY}px; left: ${tooltipX}px`">
                                                <div class="shadow-xs rounded-lg bg-white p-2">
                                                    <div class="flex items-center justify-between text-sm">
                                                        <div>Sales:</div>
                                                        <div class="font-bold ml-2">
                                                            <span x-html="tooltipContent"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </template>

                                        <!-- Bar Chart -->
                                        <div class="flex -mx-2 items-end mb-2">
                                            <template x-for="data in chartData">

                                                <div class="px-2 w-1/6">
                                                    <div :style="`height: ${data}px`"
                                                        class="transition ease-in duration-200 bg-blue-600 hover:bg-blue-400 relative"
                                                        @mouseenter="showTooltip($event); tooltipOpen = true"
                                                        @mouseleave="hideTooltip($event)">
                                                        <div x-text="data"
                                                            class="text-center absolute top-0 left-0 right-0 -mt-6 text-gray-800 text-sm">
                                                        </div>
                                                    </div>
                                                </div>

                                            </template>
                                        </div>

                                        <!-- Labels -->
                                        <div class="border-t border-gray-400 mx-auto"
                                            :style="`height: 1px; width: ${ 100 - 1/chartData.length*100 + 3}%`">
                                        </div>
                                        <div class="flex -mx-2 items-end">
                                            <template x-for="data in labels">
                                                <div class="px-2 w-1/6">
                                                    <div class="bg-red-600 relative">
                                                        <div class="text-center absolute top-0 left-0 right-0 h-2 -mt-px bg-gray-400 mx-auto"
                                                            style="width: 1px"></div>
                                                        <div x-text="data"
                                                            class="text-center absolute top-0 left-0 right-0 mt-3 text-gray-700 text-sm">
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-2/5">
                            <div class="max-w-lg mx-auto py-6">
                                <div class="shadow p-6 rounded-lg bg-white">
                                    <div class="mb-2">
                                        <h2 class="text-xl text-gray-800 font-bold leading-tight">Recent orders
                                        </h2>
                                    </div>
                                    <table class="w-full whitespace-no-wrap">
                                        <thead>
                                            <tr
                                                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                                <th class="px-4 py-3">Order ID</th>
                                                <th class="px-4 py-3">Order Cost</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                                            <% for(var i=0; i<items.length; i++) {%>
                                            <tr class="text-gray-700 dark:text-gray-400">
                                                <td class="px-4 py-3">
                                                    <div class="flex items-center text-sm">
                                                        <p class="font-semibold">
                                                            <%= items[i]._id %>
                                                        </p>
                                                    </div>
                                                </td>
                                                <% var orderCost = 0 %>
                                                <% for (var j =0; j < items[i].orderItems.length;  j++ ) { %>
                                                <% orderCost += items[i].orderItems[j].netPrice *items[i].orderItems[j].quantity%>
                                                <% } %>

                                                <td class="px-4 py-3 text-xs">
                                                    <span
                                                        class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                                        $ <%= orderCost %>
                                                    </span>
                                                </td>
                                                </td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
    </div>
    </section>
    </div>
    </main>
    </div>
    <script>
        function app() {
            return {
                chartData: [112, 10, 225, 134, 101, 80, 50, 100, 200],
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],

                tooltipContent: '',
                tooltipOpen: false,
                tooltipX: 0,
                tooltipY: 0,
                showTooltip(e) {
                    console.log(e);
                    this.tooltipContent = e.target.textContent
                    this.tooltipX = e.target.offsetLeft - e.target.clientWidth;
                    this.tooltipY = e.target.clientHeight + e.target.clientWidth;
                },
                hideTooltip(e) {
                    this.tooltipContent = '';
                    this.tooltipOpen = false;
                    this.tooltipX = 0;
                    this.tooltipY = 0;
                }
            }
        }
    </script>
</body>